body {
    background: #dfcbb4;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: large;
}

.content {
  max-width: 500px;
  margin: auto;
}

input[type=submit] {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: large;
}

li a {
    color: #38643b;
}

